<div id="footer">
	<div class="container">
		<div class="row row-gap-huge"></div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-2">
				<h4>Information</h4>
				<p class="caption">
					<a href="{{login_url_prefix}}/success" id="how-it-works-footer-link">How It Works</a>
					<br>
					<a href="{{login_url_prefix}}/faq">Help and FAQ</a>
					<br>
					<a href="{{login_url_prefix}}/feedback/signup">Feedback Program</a>
				</p>
			</div>
			<div class="col-md-2">
				<h4>Community</h4>
				<p class="caption">
					<a href="http://blog.udacity.com">Blog</a>
					<br>
					<a href="http://www.meetup.com/Udacity/">Meetups</a>
					<br>
					<a href="{{login_url_prefix}}/press">News &amp; Media</a>
				</p>
			</div>
			<div class="col-md-2">
				<h4>Udacity</h4>
				<p class="caption">
					<a href="{{login_url_prefix}}/us">About</a>
					<br>
					<a href="{{login_url_prefix}}/jobs">Jobs</a>
					<br>
					<a href="{{login_url_prefix}}/contact">Contact Us</a>
					<br>
					<a href="{{login_url_prefix}}/legal/tos">Legal</a>
				</p>
			</div>
			<div class="col-md-3"></div>
				<h4>Follow us on</h4>
				<a href="https://www.facebook.com/Udacity"><span class="sprite sprite-social sprite-facebook"></span></a>
				<a href="https://twitter.com/udacity"><span class="sprite sprite-social sprite-twitter"></span></a>
				<a href="https://plus.google.com/+Udacity/posts"><span class="sprite sprite-social sprite-gplus"></span></a>
				<a href="https://www.linkedin.com/company/udacity"><span class="sprite sprite-social sprite-linkedin"></span></a>
				<div class="row row-gap-medium">&copy; 2011-2014 Udacity, Inc.</div>
			</div>
		</div>
		<div class="row row-gap-huge"></div>
	</div>
</div>