{% load i18n extra_tags extra_filters %}
                <div class="wmd-panel control-group{% if form.text.errors %} error{% endif %}">
		    <strong>Question text:</strong>
		    <a rel="tooltip" title="Questions must be at least 10 characters long." data-placement="bottom" href="">
		 	<i class="icon-question-sign icon-blue"></i>
		    </a>
		    <br/>
                    <div id="wmd-button-bar"></div>
                    {{ form.text }} {{ form.text.errors }}
                </div>
                <div id="wmd-preview" class="wmd-panel wmd-preview" style="display: none;"></div>

                <span class="form-error"></span>
                <div class="preview-toggle" style="display: none;">
                    <span id="pre-collapse" title="{% trans " Toggle the real time Markdown editorpreview" %}">{% trans "toggle preview" %}</span>
                    <span style="text-align: right; margin-left: 200px;" id="editor-metrics"></span>
                </div>
                <script type="text/javascript">
                (function () {
                    var first_focus = 1;
                    $('.wmd-panel textarea').focusin(function() {
                        if (!first_focus) { return; }
                        first_focus = 0;
                        $('#wmd-preview').show();
                        $('div.preview-toggle').show();
                    });

                    var converter = Markdown.getSanitizingConverter();
                    converter.hooks.chain("preConversion", function (text) {
                        var lines = text.split(/\r?\n|\r/);
			var processed_lines = new Array(lines.length);
			var trim_rx = /\s\s*$/;
			for (var i = 0; i < lines.length; ++i) {
			    line = lines[i].replace(trim_rx, '');
			    processed_lines[i] = '' === line ? '' : line + '  ';
			}
			return processed_lines.join("\n");
                    });
                    var editor = new Markdown.Editor(converter);
                    editor.run();
                })();
                </script>
