{% extends parent_template %}
<!-- question.html -->
{% load node_tags %}
{% load extra_tags %}
{% load extra_filters %}
{% load general_sidebar_tags %}
{% load smart_if %}
{% load humanize %}
{% load i18n %}
{% load cache %}
{% block metadescription %}{{ question.meta_description }}{% endblock %}
{% block metakeywords %}{{question.tagname_meta_generator}}{% endblock %}
{% block meta %}
        <link rel="canonical" href="{{settings.APP_BASE_URL}}{{question.get_absolute_url}}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ question.get_absolute_url }}?type=rss">
{% endblock %}
{% block title %}{% spaceless %}{{ question.headline }}{% endspaceless %}{% endblock %}
{% block forejs %}
        {% if not question.nis.closed %}
        <script type='text/javascript' src='{% static "js/osqa.question.js" %}'></script>
        <script type='text/javascript' src='{% static "js/jquery.caret.js" %}'></script>

        {% include "pagedown_js.html" %}

        {% if embed_youtube_videos %}
        <script type='text/javascript' src='{% static "js/viewbox.js" %}'></script>
        <script type='text/javascript' src='{% static "js/youtube.js" %}'></script>
        <link rel="stylesheet" type="text/css" href="{% static "style/viewbox.css" %}" />
        {% endif %}
        {% endif %}

        <script type="text/javascript">
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            var answer_sort_tab = "{{ tab_id }}";

            if (answer_sort_tab) {
                $("#" + answer_sort_tab).attr('className',"on");
            }
        });

        function submitClicked(e, f) {
            if(!(browserTester('chrome') || browserTester('safari'))) {
                $("input.submit")[0].disabled=true;
            }
            window.removeEventListener('beforeunload', beforeUnload, true);
            if (f) {
                f.submit();
            }
        }

        function beforeUnload(e) {

            if($("textarea#editor")[0].value != "") {
                return yourWorkWillBeLost(e);
            }

            var commentBoxes = $("textarea.commentBox");
            for(var index = 0; index < commentBoxes.length; index++) {
                if(commentBoxes[index].value != "") {
                    return yourWorkWillBeLost(e);
                }
            }
        }
        window.addEventListener('beforeunload', beforeUnload, true);
        </script>
        <noscript>
            <style>
                .comment.not_top_scorer {
                    display: block;
                }
                .comment-form-container {
                    display: block;
                }
                .div.comment-tools {
                    display: none;
                }
            </style>
        </noscript>
{% endblock %}

{% block content %}
<div class="headNormal">
    <h2>{{ question.headline }}</h2>
</div>
<div id="main-body" class="">
    <div id="askform">
            <table style="width:100%;" id="question-table" {% post_classes question %}>
                <tr>
                    <td style="width:30px;vertical-align:top">
                        <div class="vote-buttons">
                            {% vote_buttons question request.user %}
                            {% favorite_mark question request.user %}
                        </div>
                    </td>
                    <td>
                        <div id="item-right">
                            <div class="question-body">
                                {{ question.html|safe }}
                            </div>
                            <div id="question-tags" class="tags-container tags">
                            	<p class="ui">
                                {% for tag in question.tagname_list %}
                                    {% if tag|if_not_morseltag %}
                                    <a href="{% url tag_questions tag|urlencode %}" class="post-tag tag-link-{{ tag }}{{ tag|if_stafftag }}"
                                        title="{% blocktrans with tag as tagname %}see questions tagged '{{ tagname }}'{% endblocktrans %}" rel="tag">{{ tag }}</a>
                                    {% endif %}
                                {% endfor %}
                                </p>
                            </div>
			    {% if video_info %}
			    <div>
			    	<p>Related to: <a href="https://www.udacity.com/course/viewer#!{{ video_info.1 }}">{{ video_info.0 }}</a></p>
			    </div>
			    {% endif %}
                            <div id="question-controls" class="post-controls">
                                {% post_controls question request.user %}
                                {% wiki_symbol request.user question %}
                            </div>
                            <div class="post-update-info-container">
                                    {% contributors_info question %}
                            </div>
                            {% comments question request.user %}
                        </div>

                    </td>
                </tr>
            </table>
            {% if question.nis.closed %}
            <div class="question-status" style="margin-bottom:15px">
            <h3>
                {% blocktrans with question.nstate.closed.extra as close_reason %}The question has been closed for the following reason "{{ close_reason }}" by{% endblocktrans %}
                <a href="{{ question.nstate.closed.by.get_profile_url }}">{{ question.nstate.closed.by.username }}</a>
                 {% diff_date question.nstate.closed.at %}
            </h3>
            </div>
            {% endif %}
            {% if answers %}
                <hr/>
                <div class="tabBar">
                    <a name="sort-top"></a>
                    <div class="headQuestions">
                    <h2>
                    <a class="dot-list"></a>
                    {% blocktrans count answers.paginator.count as counter %}One Answer:{% plural %}{{counter}} Answers:{% endblocktrans %}
                    </h2>
                    </div>
                    {{ answers.paginator.sort_tabs }}
                </div>
                {{ answers.paginator.page_numbers }}

                {% for answer in answers.paginator.page %}
                    <a name="{{ answer.id }}"></a>
                    <div id="answer-container-{{ answer.id }}" class="answer {% post_classes answer %}{% ifequal answer.id focused_answer_id %} focusedAnswer{% endifequal %}">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:30px;vertical-align:top">
                                    <div class="vote-buttons">
                                        {% vote_buttons answer request.user %}
                                        {% accept_button answer request.user %}
                                    </div>
                                </td>
                                <td>
                                    <div class="item-right">
                                        <div class="answer-body">
                                            {{ answer.html|safe }}
                                        </div>
                                        <div class="answer-controls post-controls">
                                            {% post_controls answer request.user %}
                                            {% wiki_symbol request.user answer %}
                                        </div>
                                        <div class="post-update-info-container">
                                            {% contributors_info answer %}
                                        </div>
                                        {% comments answer request.user %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
                <div class="paginator-container-left">
                    {{ answers.paginator.page_numbers }}
                </div>
            {% endif %}
        <form id="fmanswer" action="{% url answer question.id %}" method="post">
            {% csrf_token %}
            <div style="clear:both">
            </div>

            {% if not question.closed %}
                <div style="padding:10px 0 0 0;">
                    {% spaceless %}
                    <div class="headNormal">
                        {% if answers %}
                            {% trans "Your answer" %}
                        {% else %}
                            {% trans "Be the first one to answer this question!" %}
                        {% endif %}
                    </div>
                    {% endspaceless %}
                </div>
                {% comment %}
                {% if not request.user.is_authenticated %}
                    <div class="message">{% trans "You can answer anonymously and then login." %}</div>
                {% else %}
                    <p class="message">
                        {% ifequal request.user question.author  %}
                            {% trans "Answer your own question only to give an answer." %}
                        {% else %}
                            {% trans "Please only give an answer, no discussions." %}
                        {% endifequal %}
                        {% if not request.user.email_valid_and_can_answer %}
                            {% blocktrans %}Remember, your answer will not be published until you validate your email.{% endblocktrans %}
                            <a href="{% url send_validation_email %}">{% trans "Send me a validation link." %}</a>
                        {% endif %}
                    </p>
                {% endif %}
                {% endcomment %}

                <div id="description" class="" >
                    {% include "pagedown_editor.html" %}
                </div>

	            {% if form.recaptcha %}
	            <div class="question-captcha" style="float: left;">
	            	{{ form.recaptcha.errors }}
	            	{{ form.recaptcha }}
	            </div>
	            <div class="clear"></div>
	            {% endif %}

                <p><span class="form-error"></span></p>
                <input type="button"
                    {% if user.is_anonymous %}
                        value="{% trans "Login/Signup to Post Your Answer" %}"
                    {% else %}
                        {% if user == question.author %}
                        value="{% trans "Answer Your Own Question" %}"
                        {% else %}
                        value="{% trans "Answer the question" %}"
                        {% endif %}
                    {% endif %}
                    class="btn btn-medium btn-primary submit" style="float:left" onclick="submitClicked(event, this.form)"/>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="boxC" id="searchBar">
    <h2>Search the forums</h2>
    <form action="{% url search %}" method="get">
	{% csrf_token %}
	<div>
	    <input type="text" class="searchInput form-control" value="{{ keywords }}" name="q" id="keywords" style="display:block; height: inherit;" />
            <input type="hidden" value="question" name="t"/>
	    <input type="hidden" id="search-class" name="search-class" value="" />
            <input type="submit" name="Submit" value="{% trans "search" %}" class="btn btn-default" style="display:block;margin-top:12px;" />
	</div>
    </form>
</div>

{% markdown_help %}

{% sidebar_upper %}

{% cache 60 questions_tags settings.APP_URL question.id %}
<div class="boxC">
    <h2>
		Tags
    </h2>
    <p class="tags ui" >
        {% for tag in question.tags.all %}
        	<a href="{% url tag_questions tag.name|urlencode %}"
            class="tag-link-{{ tag.name }}{{ tag.name|if_stafftag }}"
			title="{% trans "see questions tagged"%}'{{tag.name}}'{% trans "using tags" %}"
			rel="tag">{{ tag.name }}</a> <span class="tag-number">&#215;{{ tag.used_count|intcomma }}</span><br/>
        {% endfor %}
    </p>
    <p>
        {% trans "question asked" %}: <strong title="{{ question.added_at }}">{% diff_date question.added_at %}</strong>
    </p>
    <p>
     	{% trans "question was seen" %}: <strong>{{ question.view_count|intcomma }} {% trans "times" %}</strong>
    </p>
    <p>
        {% trans "last updated" %}: <strong title="{{ question.last_activity_at }}">{% diff_date question.last_activity_at %}</strong>
    </p>
</div>
{% endcache %}
{% sidebar_lower %}
<div class="boxC">
    <h2 class="subtitle">{% trans "Related questions" %}</h2>
    <div class="questions-related">

        {% for question in similar_questions %}
        <p class="ui">
            <a href="{{ question.get_absolute_url }}">{{ question.headline }}</a>
        </p>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block endjs %}
{% endblock %}
<!-- end question.html -->
